Source: ros-kinetic-uwsim-osgbullet
Section: misc
Priority: extra
Maintainer: Mario Prats <marioprats@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libopenscenegraph-dev, libopenscenegraph80, libopenthreads-dev, libopenthreads14, openscenegraph, ros-kinetic-uwsim-bullet, ros-kinetic-uwsim-osgworks
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-uwsim-osgbullet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libopenscenegraph-dev, libopenscenegraph80, libopenthreads-dev, libopenthreads14, openscenegraph, ros-kinetic-catkin, ros-kinetic-uwsim-bullet, ros-kinetic-uwsim-osgworks
Description: The OSG Bullet library adapted to UWSim.
 See https://code.google.com/p/osgbullet
