Source: ros-indigo-uwsim-osgbullet
Section: misc
Priority: extra
Maintainer: Mario Prats <marioprats@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libopenscenegraph-dev, libopenscenegraph99, libopenthreads-dev, libopenthreads14, openscenegraph, ros-indigo-uwsim-bullet, ros-indigo-uwsim-osgworks
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-uwsim-osgbullet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libopenscenegraph-dev, libopenscenegraph99, libopenthreads-dev, libopenthreads14, openscenegraph, ros-indigo-catkin, ros-indigo-uwsim-bullet, ros-indigo-uwsim-osgworks
Description: The OSG Bullet library adapted to UWSim. See https://code.google.com/p/osgbullet
